* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.main-header {
  background: url(../assets/header.jpg);
  height: 523px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

main {
  margin: 60px 12% 0 12%;
}

/***************
  NAVIGATION
 ****************/

#logo h1 {
  height: 45px;
  position: relative;
  top: 10px;
  left: 11%;
  margin: 0;
  line-height: 44px;

  /**** FONT ****/

  font-size: 1.05em;
  font-weight: 400;

  /**** BACKGROUND IMAGE ****/
  background-image: url(../assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 0 0 55px;
}


nav {
    float: right;
}
nav li {
  display: inline-block;
  margin: 5px;
  font-size: 1.15em;
  position: relative;
  top: -50px;
  right: 85%;
}

/****
  MAIN HEADER TEXT
****/

.main-header h2 {
  font-weight: 400;
  font-size: 6em;
  position: relative;
  top: 60px;
  left: 1%;
  text-align: center;
}

.main-header h3 {
  font-weight: 400;
  font-size: 0.90em;
  text-align: center;
  position: relative;
  top: -30px;
  }

  /****
    PRIMARY CONTENT
  ****/
  .primary-content {
    width: 63%;
    float: left;
    margin: 0 75px 0 0;
  }

  .primary-content h1 {
    font-weight: 400;
    font-size: 4em;
    line-height: 70px;
    margin: 0;
  }

  .primary-content p {
    color: #5D686E;
    margin: 0 0 25px 0;
    line-height: 25px;
  }

  .primary-content a {
    text-decoration: underline;
  }

  .author > a {
    background: url(../assets/avatar.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    text-decoration: none;

    padding: 0 0 0 30px;
    margin: 8px 0;
    height: 22px;

    font-size: 0.8em;
    line-height: 25px;
  }

.author p {
    display: inline-block;
    font-size: 0.8em;
  }

.highlight {
  margin: 0 0 30px 0;
}
.highlight h2 {
  font-weight: 400;
  border-left: 2px solid #B1BBC2;
  margin: 0px;
  padding: 10px 0 0 10px;
}

.share li {
  display: inline-block;
}

.share {
  padding: 0;
  margin: 0 0 70px 0;
}

.share a {
  text-decoration: none;
  font-size: 0.8em;
  padding: 5px 12px 5px 0;
  margin: 0 5px 0 0;
}

.share img {
padding: 6px;
position: relative;
top: 9px;
margin: 0 12px 0 0;
}


/****
SIDEBAR
****/
  .sidebar {
    width: 28.5%;
    float: right;
    position: relative;
    top: 22px;
    overflow: auto;
  }

  .sidebar img:nth-child(1) {
    position: relative;
    left: 36%;
  }

  .sidebar h1 {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin: 5px 0 3px 0;
  }

  .social-links {
    text-align: center;
    padding: 0 0 32px 0;
    margin: 0;
    font-size: 0.85em;
  }

  .social-links li {
    display: inline-block;
  }

  .ad-link {
    float: right;
    text-decoration: underline;
    font-size: 0.85em;
  }

.sidebar h2 {
  font-weight: 400;
  font-size: 1.1em;
  margin: 70px 0 0 0;
  }

.sidebar p {
  font-size: 0.85em;
  margin: 5px 0 0 0;
  line-height: 23px;
}


  /****
  PRE FOOTER
  ****/

.pre-footer {
  clear: both;
}
.pre-footer h1 {
  text-align: center;
  border-top: 1px solid #D0D4D7;
  padding: 35px 0;
  margin: 0;
  font-size: 4em;
  font-weight: 400;
}

.pre-footer li {
  display: inline-block;
  float: left;
  width: 25%;
}

.article-image {
  position: relative;
  height: 330px;
  background-color: #006FAE;
}

.article-image img {
  opacity: 0.4;
}

.article-image img:hover {
  opacity: 0.8;
  transition: 1s ease all;
}

.article-image img:active {
  border: 4px solid #fff;
}

#article-title-1, #article-title-2, #article-title-3, #article-title-4 {
  position: absolute;
  top: 275px;
  font-weight: 400;
  font-size: 2em;
  margin: 0;
  padding: 0 0 0 15px;
}

#article-title-3 {
  top: 242px;
  line-height: 38px;
}

.article-links {
  padding: 0;
  margin: 0;
}

/****
FOOTER
****/
footer {
  clear: both;
  padding: 25px 13% 30px 13%;
  overflow: auto;
  position: relative;
}

footer li {
  display: inline-block;
  padding: 0px 2.5%;
}

.footer-link {
  border-right: 1px solid white;
}

footer p {
  display: inline-block;
  top: 39px;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 17.5%;
  font-weight: 300;
  font-size: 0.85em;
}

.bottom-nav {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10%;
  top: 39px;
  font-weight: 300;
  font-size: 0.85em;
  width: 30%;
}

/****
COLORS
 ****/

.main-header h2, .share a, footer p, .bottom-nav a, #article-title-2 {
  color: #fff;
}
 .p3 a, .highlight h2, .author > a, .sidebar h1, .sidebar h2 {
   color: #006FAE;
 }

 .p2 a, .author p, .author p > a, .social-links a, .ad-link, .sidebar p {
   color: #A2B3BE;
 }

.primary-content h1, .main-header h3, nav li a, #logo h1, .pre-footer h1,
#article-title-1, #article-title-3, #article-title-4 {
  color: #01344E;
}

#comments a, #save a {
  background-color: #A2B3BE;
}

#comments img, #save img {
  background-color: #5D686E;
}

#share-post a {
  background-color: #006FAE;
}

#share-post img, footer {
  background-color: #01344E;
}

/****
FONTS
****/

.sidebar h2, nav li, .primary-content h1, .pre-footer {
  font-family: 'Oswald', sans-serif;
}

#logo h1, .main-header h2, .main-header h3, .primary-content, .sidebar, footer {
  font-family: 'Open Sans', sans-serif;
}
