* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
}

li {
  list-style: none;
}

.main-header {
  background: url(../assets/header.jpg);
  height: 523px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

main {
  margin: 60px 150px 0 150px;
  position: absolute;
}

/***************
  NAVIGATION
 ****************/

#logo h1 {
  height: 45px;
  position: relative;
  top: 10px;
  left: 11%;
  margin: 0;
  line-height: 44px;

  /**** FONT ****/

  font-size: 1.05em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  /**** BACKGROUND IMAGE ****/
  background-image: url(../assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 0 0 55px;
}


nav {
    float: right;
}
nav li {
  display: inline-block;
  margin: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.15em;
  position: relative;
  top: -50px;
  right: 85%;
}

/****
  MAIN HEADER TEXT
****/

.main-header h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 6em;
  position: relative;
  top: 60px;
  left: 1%;
  text-align: center;
}

.main-header h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.90em;
  text-align: center;
  position: relative;
  top: -30px;
  }

  /****
    PRIMARY CONTENT
  ****/
  .primary-content {
    width: 61%;
    font-family: 'Open Sans', sans-serif;
    float: left;
  }

  .primary-content h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 4em;
    line-height: 70px;
    margin: 0;
  }

  .primary-content p {
    color: #5D686E;
    margin: 0 0 25px 0;
    line-height: 25px;
  }

  .primary-content a {
    text-decoration: underline;
  }

  .author > a {
    background: url(../assets/avatar.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    padding: 0 0 0 30px;
    margin: 8px 0;
    height: 22px;

    font-size: 0.8em;
    line-height: 25px;
  }

.author p {
    display: inline-block;
    font-size: 0.8em;
  }

.highlight {
  margin: 0 0 30px 0;
}
.highlight h2 {
  font-weight: 400;
  border-left: 2px solid #B1BBC2;
  margin: 0px;
  padding: 10px 0 0 10px;
}

.share li {
  display: inline-block;
}

.share {
  padding: 0;
}

.share a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  padding: 5px 12px 5px 0;
  margin: 0 5px 0 0;
}

.share img {
padding: 6px;
position: relative;
top: 9px;
margin: 0 12px 0 0;
}


/****
SIDEBAR
****/
  .sidebar {
    width: 39%;
    float: right;
    position: relative;
  }

  /****
  PRE FOOTER
  ****/

  /*border-bottom: 1px solid #D0D4D7;*/

/****
COLORS
 ****/

 .p3 a, .highlight h2, .author > a {
   color: #006FAE;
 }

 .p2 a, .author p, .author p > a {
   color: #A2B3BE;
 }

.primary-content h1, .main-header h3, nav li a, #logo h1 {
  color: #01344E;
}

#comments a, #save a {
  background-color: #A2B3BE;
}

#comments img, #save img {
  background-color: #5D686E;
}

#share-post a {
  background-color: #006FAE;
}

#share-post img {
  background-color: #01344E;
}
